<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :イベントタイトル %><br>
    <%= f.text_field :title , class: 'form-control' %>
  </div>
 
   <div class="field">
    <%= f.label :開催日時 %><br>
    <%= f.datetime_select :time %>
  </div>
  
  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_field :address , class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :イベント画像 %><br>
    <%= map_img(@map) if map_img(@map) %>
    <%= f.file_field :image, class: 'center-block' %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= f.label :イベント情報 %><br>
    <%= f.text_area :description , class: 'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit '投稿' , class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
