
<p>
  <strong>イベントタイトル:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>イベント内容:</strong>
  <%= @map.description %>
</p>

<p>
  <strong>開催日時:</strong>
  <%= @map.time %>
</p>

<p>
  <strong>住所:</strong>
  <%= @map.address %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
