<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <p><%= notice %></p>    
<p>
  <strong>イベントタイトル:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>開催日時:</strong>
  <%= @map.time.strftime("%Y年%m月%d日 %H:%M") %>
</p>

<p>
  <strong>イベント内容:</strong>
  <%= @map.description %>
</p>

<p>
  <strong>場所:</strong>
  <%= @map.address %>
</p>

<%= link_to '編集', edit_map_path(@map) , class: 'btn btn-primary btn-success' %>
<%= link_to '戻る', maps_path , class: 'btn btn-primary btn-success' %>
  </div>
</div>