    <p><%= notice %></p>

    <% if user_signed_in? %>
    <%= link_to "イベントを作成する", new_event_path, class: 'btn btn-default' %>
    <% end %>
    <% @events.each do |event| %>
    <div class="row">
      <%= link_to event_path(event) do %>
      <h4><strong><%= event.title %></strong></h4>
      <% end %>
      <h5><p><%= event.content %></p></h5>
      <% if user_signed_in? && current_user.id == event.user_id %>
      <%= link_to "編集", edit_event_path(event.id), class: 'btn btn-primary btn-success' %>
      <%= link_to "削除", event_path(event.id), method: :delete,data: {confirm: '本当に削除していいですか?'}, class:'btn btn-primary btn-success' %>
      <% end %>
    </div>
    <% end %>
